{{> header }}


<div class='contentWrapper'>

  <header>
    <a href='http://everydayhero.com/au/' target='_top'><img src='img/edhLogo.png' alt='Everyday Hero' /></a>
  </header>

  <section class='topSection'>
  </section> <!-- .topSection -->

  <section class='metricsSection'>
  </section> <!-- .metricsSection -->

  <section class='eventsSection'>
    <div id='events'></div>
  </section> <!-- .eventsSection -->

  <section class='supportersSection'>
    <div id='supporters'></div>
  </section> <!-- .supportersSection -->

  <footer>
    <div class='name' id='clientName'></div>
    <div class='abn' id='clientABN'></div>
  </footer>

</div> <!-- .contentWrapper -->


{{> footer }}
